::ng-deep  .swal2-styled.swal2-confirm{
    background-color: #f67139 !important;
}
::ng-deep .swal2-popup .swal2-title {
  
    font-size: 14px !important;
  
    margin: 16px 0 0.4em !important;
  
}