

<section>
  
    <div
      *ngIf="SubmitSuccessful"
      id="toast-success"
      class="z-10 fixed top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-orange-300 rounded-lg shadow"
      role="alert"
    >
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3 text-sm text-white font-normal">
        Submitted successfully.
      </div>
      <button
        type="button"
        (click)="closeToast()"
        class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 "
        data-dismiss-target="#toast-success"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
  
 
  
    <div class="flex  sm:p-20 md:p-10 ">
      <div class="grow bg-white border rounded-lg p-10">
        <form [formGroup]="contactUsForm" (ngSubmit)="submit()">
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative  w-full mb-1 sm:mb-5 group">
              <div class="mb-5">
                <label
                  for="base-input"
                  class=" block mb-2 text-sm font-medium text-gray-900 "
                  >First Name</label
                >
                <input
                  type="text"
                  id="base-input"
                  placeholder="Enter First Name"
                  formControlName="firstname"
                  (keypress)="omit_special_char($event)"

                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                />
                <span
                  class="text-red-600"
                  *ngIf="
                  (formSubmitted || contactUsForm.controls['firstname'].touched) &&
                  contactUsForm.controls['firstname'].errors?.['required']"
                  >First name is Required *</span
                >
              </div>
            </div>
            <div class="relative  w-full mb-1 sm:mb-5 group">
              <div class="mb-5">
                <label
                  for="base-input"
                  class="block mb-2 text-sm font-medium text-gray-900 "
                  >Last Name</label
                >
                <input
                  type="text"
                  id="base-input"
                  placeholder="Enter Last Name"
                  formControlName="lastname"
                  (keypress)="omit_special_char($event)"

                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                />
              </div>
            </div>
          </div>
          <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative  w-full mb-1 sm:mb-5 group">
              <div class="mb-5">
                <label
                  for="base-input"
                  class="block mb-2 text-sm font-medium text-gray-900 "
                  >Email</label
                >
                <input
                  type="text"
                  id="base-input"
                  placeholder="Enter Email"
                  ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                  formControlName="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                />
  
                <span
                class="text-red-600"
                *ngIf="
                (formSubmitted || contactUsForm.controls['email'].touched) &&
                contactUsForm.controls['email'].errors?.['required']"
                >Email  is Required *</span
              >
              <div
                class="text-red-600"
                *ngIf="
                  contactUsForm.controls['email'].invalid &&
                  contactUsForm.controls['email'].touched &&
                  contactUsForm.get('email')?.hasError('email')
                "
              >
                Please enter a valid email address.
              </div>
              <div
                class="text-red-600"
                *ngIf="
                  contactUsForm.controls['email'].touched &&
                  contactUsForm.get('email')?.hasError('pattern')
                "
              >
                Please enter a valid email address.
              </div>
              </div>
            </div>
            <div class="relative w-full mb-1 sm:mb-5 group">
              <div class="mb-5">
                <label
                  for="base-input"
                  class="block mb-2 text-sm font-medium text-gray-900 "
                  >Phone</label
                >
                <input
                  type="text"
                  pattern="^[6-9][0-9]{9}$"
                  placeholder="Enter  mobile number"
                  maxlength="10"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  id="base-input"
                  formControlName="mobile_number"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                />
                <span
                  class="text-red-600"
                  *ngIf="
                  (formSubmitted || contactUsForm.controls['mobile_number'].touched) &&
                  contactUsForm.controls['mobile_number'].errors?.['required']"
                  >Phone Number is Required *</span
                >
                <span
                  class="text-red-600"
                  *ngIf="
                  (formSubmitted || contactUsForm.controls['mobile_number'].touched) &&
                  contactUsForm.controls['mobile_number'].errors?.['pattern']"
                >
                  Invaild Mobile Number, Please enter valid number
                </span>
              </div>
            </div>
          </div>
  
        
  
          <div class="text-center">
            <button
              type="submit"
              class="text-white bg-[#ff9500] hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-amber-400 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    
    </div>
  </section>
  