
 





  <div class="main-container">


  <div class=" text-center flex flex-col items-center justify-center py-10 xl:py-20" id="header ">
  
    <div>
        <h1 class=" lg:text-6xl text-xl font-bold sm:text-3xl" >THANK YOU!</h1>
    </div>
  
  <div>
    <img class="lg:w-52 w-28 sm:w-30" src="/assets/bootcampPage/checkmark.webp"/>
</div>
<div>
    <p class="xl:text-lg text-sm font-semibold lg:p-10 p-7 sm:text-base" >We have recieved your message and would like to thank you for writing to us. We will contact you as soon as possible.</p>
</div>
  </div>















